<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liauto.androidview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidView">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".HomeWidgetProvider"
            android:exported="true">
            <intent-filter>
                <!--这个必须声明-->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!--这个和HomeWidgetProvider中的CLICK_ACTION对应-->
                <action android:name="com.lixiang.android.widget.LIXIANG.CLICK" />
            </intent-filter>
            <!--指定AppWidgetProviderInfo资源XML文件-->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget" />
        </receiver>

    </application>

</manifest>